footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
    height: 80px;
}
    
    .footer-container {
    background-color: #e9ece1;
    height: 0px;
    display: flex;}
    
    .footer-container a {
    color: #000000;
    padding: 40px 40px;
    text-decoration: none;
    font-family: Helvetica;
    font-weight: bold;
    font-size: large;}
    
    .footer-left {
    margin-right: auto}
    
    .fa:hover {
    color: #ffffff;}
    
    .footer-icons {
    justify-content: space-between;
    padding: 35px 0px 0px 0px}
    
    .footer-icons ul {
    list-style-type: none;}
    
    .footer-icons li {
    display: inline-block;}
    
    .footer-right {
        align-items: center;
    }  
    
    
    /* margin-left: 100px;} */
    
    /* .copyright 
    {background-color: #ffffff;
    overflow: hidden;} */
    